@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --main-color: #faf9f6;
  --primary-color: #ffd300;
  --second-color: #67cbb7;
  --accent-color: #345362;
  --font: "Signika", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --third-font: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--main-color);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
}
html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
body {
  /* overflow: hidden; */
  background-color: var(--main-color);
}
* {
  margin: 0;
  padding: 0;
}
#navbar {
  z-index: 3;
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--main-color);
  position: sticky;
  top: 0px;
  width: 100vw;
  /* border-bottom: 2px solid black; */
  /* width: 100vw; */
}
#logo {
  display: flex;
  margin: 10px 10px;
  padding: 5px 10px;
  font-family: var(--font);
  font-size: 20px;
  width: 40%;
  justify-self: center;
  justify-content: center;
}
#logo a {
  text-decoration: none;
  color: black;
}
#logo:hover {
  cursor: pointer;
}
#menu {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 60%;
  align-items: center;
}
#menu ul {
  display: flex;
}
#menu ul li {
  list-style: none;
  margin: 10px 5px;
}
#menu ul li a {
  text-decoration: none;
  font-family: var(--font);
  color: black;
  font-size: 20px;
  padding: 5px 20px;
}
#menu ul li a:hover,
#menu ul li a:active {
  border-bottom: 2px solid var(--primary-color);
  /* transform: translate(0px,-2px); */
}
#typing-effect {
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  width: 37vw;
  /* border-right: 2px solid black; */
  animation: typing 3s ease-out;
  /* blink-caret 0.75s step-end infinite; */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 37vw;
  }
}

/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
} */
.front-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 40vw;
  margin: 20px;
}
.front-section img {
  width: 50vw;
  margin: 10px 10px;
  z-index: -1;
  border-radius: 20px;
  /* background-color: rgb(145, 24, 24); */
  /* transform: translate(0px, -2px); */
  /* box-shadow: rgba(0, 8, 14, 0.842) 0px 2px 25px 0px; */
}
.welcometext {
  position: absolute;
  top: 20vw;
  font-family: var(--third-font);
  color: var(--main-color);
  font-size: 1vw;
}
#typing-effect {
  position: absolute;
  top: 15vw;
  font-family: var(--third-font);
  color: var(--main-color);
  font-size: 2.6vw;
  /* transform: translate(0,100%); */
}

.icon-container {
  top: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  /* color:black */
}

.floating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  25% {
    transform: translate(-50%, -60%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0);
  }
  75% {
    transform: translate(-50%, -60%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}
.icon {
  position: absolute;
  width: 3vw;
}
#i1 {
  top: 10vw;
  left: 20vw;
}
#i2 {
  top: 10vw;
  left: 80vw;
}
#i3 {
  top: 20vw;
  left: 90vw;
}
#i4 {
  top: 20vw;
  left: 10vw;
}
#i5 {
  top: 30vw;
  left: 80vw;
}
#i6 {
  top: 30vw;
  left: 20vw;
}
#i7 {
  top: 40vw;
  left: 90vw;
}
#i8 {
  top: 40vw;
  left: 10vw;
}

/* Course Section */
#course {
  display: flex;
  margin: 20px 10px;
  justify-content: center;
}
#course .heading {
  font-family: var(--font);
  font-size: 20px;
  text-align: center;
  margin: 1vw 0vw;
  font-weight: 700;
  /* display: block; */
  /* margin: auto; */
  /* width: 100%; */
  /* display: block; */
}

#course .section1 {
  /* display: grid; */
  /* grid-template-rows: auto; */
  justify-content: center;
  border: 4px solid black;
  border-radius: 7px;
  padding: 10px;
  height: 400px;
  margin: 10px;
  /* width: 30vw; */
}

#course .section2 {
  border: 4px solid black;
  padding: 10px;
  border-radius: 7px;
  height: 400px;
  /* background-color: var(--second-color); */
  margin: 10px;
}
#course .section3 {
  border: 4px solid black;
  padding: 10px;
  height: 400px;
  margin: 10px;
  border-radius: 7px;
}

#course .course-img {
  width: 6vw;
  display: block;
  margin: auto;
  padding: 2vw;
  /* padding: 1vw 15vw; */
}

#course .section-info {
  font-family: var(--font);
  text-align: center;
  margin: 3vw 1vw;
}
#course .hover-float:hover {
  /* background-color: rgb(145, 24, 24); */
  cursor: cell;
  transform: translate(0px, -2px);
  box-shadow: rgba(0, 8, 14, 0.842) 0px 2px 25px 0px;
  transition-duration: 0.5s;
}

#Placements {
  display: flex;
  /* grid-template-columns: auto auto; */
  /* justify-content: space-around; */
  margin: 10vh 3vh;
  /* overflow: hidden; */
}
#Placements .companies-img {
  display: flex;
  /* display: block; */
  box-sizing: border-box;

  justify-content: center;
  width: 40%;
  /* width: 22vw; */
  margin: 10px;
}
#Placements .companies-img img {
  /* width: 20vw; */
  width: 80%;
  /* box-sizing: border-box; */
  margin: 10px;
  border-radius: 10px;
  /* border: 3px solid black; */
  /* box-shadow: rgba(0, 8, 14, 0.842) 0px 2px 50px 0px; */
}
#Placements .placement-info {
  /* justify-content: center; */
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 60%;
  margin: 3vh;
  font-family: var(--secondary-font);
  font-size: 1.5vw;
  font-weight: 300;
  text-align: center;
}

#Placements .placement-info .place-text {
  margin: 3vh;
  font-family: var(--secondary-font);
  font-size: 3vw;
  font-weight: 700;
  /* animation: typing 3s ease-out, blink-caret 0.75s step-end infinite; */
}

#Contact {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 30vw;
  align-items: center;
  /* border: 2px solid var(--second-color); */
  border-radius: 10px;
  width: 80%;
  /* overflow: hidden; */
  background-color: rgb(240, 240, 232);
}
#Contact .contact-img {
  width: 30%;
  display: flex;
  justify-content: right;
  margin: 10px 10px;
  padding: 10px 10px;
}
#Contact .contact-img img {
  width: 100%;
  border-radius: 10px;
}
#Contact .contact-form {
  width: 50%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
#Form {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  width: 80%;
}
#Form label {
  font-family: var(--secondary-font);
  font-size: 1.3vw;
  /* font-weight: 10; */
}
#Form input {
  font-family: var(--secondary-font);
  font-size: 1.3vw;
  width: 30vw;
  margin-bottom: 2vh;
  margin-top: 0.5vh;
  border-radius: 5px;
  padding: 0.8vw;
  border: none;
}
#Form input:focus {
  /* border-style: none; */
  /* border: 1px solid #44d566; */
  outline: #44d566;
  /* box-shadow: var(--primary-color) 0px 1px 10px 0px; */
  box-shadow: 0 0 10px #44d566;
  border: none;
}
.contact-title {
  font-family: var(--font);
  font-size: 1.6vw;
  margin: 3vh;
  transform: translate(-0.6vw, 0vw);
}
#Contact .submit-btn {
  /* justify-self: center; */
  align-self: center;
  background-color: #44d566;
  cursor: pointer;
  /* border: none; */
  width: 40%;
}

footer{
  text-align: center;
  background-color: rgba(6, 6, 6, 0.87);
  color: white;
  height: 3vw;
  margin-top: 3vw;
}
footer .text{
  padding: 1vw 0vw;
  font-family: var(--secondary-font);
  font-size: 1vw;
}

@media only screen and (max-width: 650px) {
  #navbar{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    position: static;
  }
  #menu ul{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .front-section{
    height: 300px;
  }
  #typing-effect{ 
    top: 25vw;
    font-size:  3vw; ;
    width: 45vw;
    /* top: 900px; */
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 45vw;
    }
  }
  .welcometext{
    font-size: 1.5vw;
    top: 30vw;
  }
  .front-section img{
    width: 80%;
  }
  .icon{
    width: 4vw;
  }
  #course{
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  #course .section1{
    /* justify-content: center; */
    height: 60vw;
    font-size: 4vw;

  }
  #course .section2{
    height: 60vw;
    font-size: 4vw;


    /* justify-content: center; */
  }
  #course .heading{
    font-size: 4.3vw;
  }
  #course .section3{
    height: 60vw;
    font-size: 4vw;
    /* justify-content: center; */
  }
  #Placements{
    flex-direction: column;
    align-items: center;
  }
  #Placements .companies-img{
    width: 60%;
  }
  #Placements .placement-info{
    font-size: 3vw;
  }
  #Placements .placement-info
  .place-text{
    font-size: 4vw;
  }
  footer{
    height: 40px;
    /* margin: 10px; */
  }
  footer .text{
    padding: 18px 0px;
    font-size: 14px;
  }
  
  #Contact{
    flex-direction: column;
    height: 470px;
  }
  #Contact .contact-img {
    width: 60%;
  }
  #Form {
    width: 100%;
  }
  #Form label{
    font-size: 3vw;
  }
  #Form input{
    font-size: 3vw;
    width: 50vw;
  }
  
  .contact-title{
    font-size: 3vw;
  }
}